

@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

body {
    background-color: #1D2340;
    font-family: 'Chivo', sans-serif;
    overflow-x: hidden;
}

/*navbar*/
/* .navbar{
    color: #ebebeb;
} */

#back-one{
    background-color: var(--Oxford-Blue);
    background-size: 100%;
}
.container-show{
    background-color: #1D2340;
    background-size: 100%;
}

.layout-bg-color {
    background-color: var(--Platinum);
}

.layout-icon-color {
    filter: brightness(0) saturate(100%) invert(4%) sepia(59%) saturate(5463%) hue-rotate(225deg) brightness(81%) contrast(113%);
}

.border-hackademy {
    border-color: var(--Oxford-Blue) !important;
  }

.logo-resize-mobile {
    width: 75%;
}



/* Partie Titre */
.row-title{
    font-size: 3.6rem;
    background-color: var(--Oxford-Blue);
    color: #ddd;
    margin-top: 5rem;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
  }

/* Partie Titre */
.row-title{
	font-size: 3.6rem;
	background-color: var(--Oxford-Blue);
	color: #ddd;
	margin-top: 5rem;
}

.row-minitext{
    font-size: 1rem;
    background-color: var(--Oxford-Blue);
    color: #ebebeb;
    border-color: var(--Oxford-Blue);
}

.row-bar {
    width: 300px;
    height: 3px;
    border-radius: 5px;
    background-color: #ebebeb;
}

/* Partie Description */
#col-desc{
    border-radius: 10px;
}

/* logo haut description*/

#training_details img{
    width: 1.8rem;
}

.counter-section span.counter {
    font-size: 2rem;
    color: #000;
    line-height: 3.3rem;
    display: block;
    letter-spacing: 2px;
}

.counter-title {
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase
}

/* Description du training */
.title{
    font-size: 1rem;
    font-family: 'Chivo', sans-serif;
    font-weight: bolder;
    margin-top: 9px;
}

.row-txt{
    font-style: italic;
    font-family: 'Chivo', sans-serif;
}

.row-contenu{
    font-size: 23px;
    font-family: 'Chivo', sans-serif;
    text-decoration: underline;
}

/* bas colonne description */
.col-tagbox {
    font-size: 0.8rem;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}
.col-tag {
    display: inline-block;
    background: #E0E0E0;
    color: #777;
    border-radius: 3px 0 0 3px;
    line-height: 26px;
    padding: 0 5px 0 20px;
    position: relative;
    margin-right: 15px;
    cursor: default;
    user-select: none;
    transition: color 0.2s;
    text-align: center;
}

.col-tag::before {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    height: 6px;
    left: 10px;
    width: 6px;
    top: 10px;
}

.col-tag::after {
    content: '';
    position: absolute;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #E0E0E0;
    border-top: 13px solid transparent;
    right: -10px;
    top: 0;
}

.btn img, img.icon {
    width: 20px;
    margin-top: -5px;
}

:root {
    --Oxford-Blue: #030027;
    --Platinum: #EBEBEB;
    --Space-cadet: #151E3F;
    --button-shadow: #3d6e89;
    --button-shadow-2: #264363;
}

.main-bg-color {
    background-color: var(--Oxford-Blue);
}

.secondary-bg-color {
    background-color: var(--Platinum);
}

.ternary-bg-color {
    background-color: var(--Space-cadet);
}

.main-text-color {
    color: var(--Platinum);
}

.secondary-text-color {
    color: var(--Oxford-Blue);
}

.btn-hackademy {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary-hackademy {
    color: var(--Platinum);
    background-color: var(--Oxford-Blue);
    border-color: var(--Oxford-Blue);
  }

  .btn-primary-hackademy:hover {
    color: var(--Platinum);
    box-shadow: 2px 2px 0px 0px var(--button-shadow-2), 4px 4px 0px 0px var(--button-shadow);
  }

  .btn-outline-hackademy {
    color: var(--Oxford-Blue);
    border-color: var(--Oxford-Blue);
  }

  .btn-outline-hackademy:hover {
    color: var(--Platinum);
    background-color: var(--Oxford-Blue);
    border-color: var(--Oxford-Blue);
    box-shadow: 2px 2px 0px 0px var(--button-shadow-2), 4px 4px 0px 0px var(--button-shadow)
  }

/* ----------------------------------------------
 * Generated by Animista on 2022-5-10 0:41:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 .slide-in-blurred-left {
	animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

 @keyframes slide-in-blurred-left {
    0% {
      transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      transform-origin: 100% 50%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }  

  .card-desktop-height {
    height: 45vh;
  }

.card-custom {
    overflow: hidden;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
  .card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
  
  /* First border-left-width setting is a fallback */
  .card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
  }
  
  .card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
  }

  .card-footer-hackademy {
    padding: .5rem 1rem;
    background-color: var(--Platinum);
    --bs-bg-opacity: 0;
    border-top: 1px solid rgba(0,0,0,.125);
    border-top-color: rgba(0, 0, 0, 0.125);
  }

body {
    font-size: 0.8rem;

}

/* Header style */

a > .logo  {
    width: 30px;
    height: auto;
}


.logobrand{
    width: 7rem;
    height: auto;
}

#Logomobile {
    width: 4.4em;
}

.header {
    width: 30px;
    height: auto;
    margin-left: 1.5rem;
}

.custom-toggler.navbar-toggler {
    border-color:var(--Oxford-Blue);
    background:var(--Platinum);
}

.burger-list a {
    color:var(--Oxford-Blue);
    text-decoration: none;
}

.search-button-burger {
    width : 15rem;
}

.search-button-nav {
    width : 12rem;
}

/* login/logout */

.logout-btn {
    top:5rem;
    width :8rem;
    color:var(--Platinum);
}

.unlog-btn {
    color:var(--Platinum);
}

.alert-logout {
    margin-top : 6rem !important;
} 

/* footer style */

.text-footer{
    color:#ebebeb;
}