<form method="post">
	<input type="hidden" value="{{ wishlist.id }}" name="id">
	<input type="hidden" value="1" name="user_id">
	<input type="hidden" value="1" name="training_id">
	<label for="formation">Formation</label>
	<input type="text" value="{{ wishlist.title }}" name="title" id="title">
	<button>Ajouter</button>
</form>
