<footer class="bg-light text-center text-lg-start fixed-bottom bg-dark">

  <div class="container p-1">


    <div class="row">
     
      <div class="col-lg-6 col-md-12 mb-2 mb-md-0">

      <div class="mb-1 d-flex justify-content-center">
      <a class="border-0 hover-0" href="#!" role="button"><img class="logo" src="Assets/faq.png" alt="F.A.Q"></a>
      </div>  

        <p class="text-center text-white .d-none .d-sm-block">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </div>
    
      <div class="col-lg-6 col-md-12 mb-2 mb-md-0">

      <div class="mb-1 d-flex justify-content-center">
      <a class="ml-0 border-0 hover-0" href="#!" role="button"><img class ="logo" src="Assets/contact.png" alt=""></a>
      </div>  

        <p class="text-center text-white .d-none .d-sm-block">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </div>
     
    </div>
   
  </div>
  
  <div class="text-center text-white bg-grey" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright
  </div>
 
</footer>