{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit image {{ image.url }}</h1>
    {% include 'Image/_form.html.twig' %}
    <a href="/images/show?id={{ image.image_id }}">Back</a>
{% endblock %}
